.lockedSlideAnimation {
    background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,.5)),color-stop(0.4,rgba(0,0,0,.5)),color-stop(0.5,white),color-stop(0.6,rgba(0,0,0,.5)),color-stop(1,rgba(0,0,0,.5)));
    -moz-background-clip:text;
    -webkit-background-clip:text;
    -moz-text-fill-color:transparent;
    -webkit-text-fill-color:transparent;
    -webkit-animation:slidetounlock 3s infinite linear;
    padding:0;
    width:100%;
    line-height: 40px;
    font-size: 1.2em;
    text-align: center;
}
@-webkit-keyframes slidetounlock {
    0% {
        background-position:0 0
    }
    100% {
        background-position:500px 0
    }
}

#messages{
    background: url("../images/0000042.jpg") no-repeat;
    background-size: 100% 100%;
}
#now_time{
    font-size: 5em; color: #fff; text-align: center;
}
#now_date{
    font-size: 1em; color: #fff; text-align: center;
}

#message_list{
    margin-left:4%; overflow: hidden;

}
.message_lier{
    padding: 8px 0 8px 30px;
    border-bottom: 1px solid #787878;
    overflow: hidden;
}
.message_lier:first-child{
    border-top: 1px solid #787878;
}
.wechat_line{
    background-image: url("../images/wechat_message.png");
    background-size: 20px 20px;
    background-position: 0 0.7em;
    background-repeat: no-repeat;

}
.QQ_line{
    background-image: url("../images/qq_message.png");
    background-size: 20px 20px;
    background-position: 0 0.7em;
    background-repeat: no-repeat;
}
.i_message_line{
    background-image: url("../images/i_message.png");
    background-size: 20px 20px;
    background-position: 0 0.7em;
    background-repeat: no-repeat;
}
.zfb_message_line{
    background-image: url("../images/zfb_message.png");
    background-size: 20px 20px;
    background-position: 0 0.7em;
    background-repeat: no-repeat;
}
.message_lier .line_type{ font-size: 0.9em; line-height: 1.6em; color: #787878;}
.message_lier .line_time{font-size: 0.7em; line-height: 1.6em; margin-left: 5px; color: #787878;}
.message_lier .txt{font-size: 0.9em;line-height: 1.6em; color: #787878;}
.message_lier .go_look{font-size: 0.1em; line-height: 1.6em;color: #787878; display: none;}

.message_lier:first-child .go_look{display: block;}
.message_lier:first-child  .line_type{color: #fff;}
.message_lier:first-child  .txt{color: #fff;}


.wechat_line{

}

